@model IEnumerable<S3G1_PVFAPP.Models.ProducedIn>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "ProducedIns";
}

<div class="contactus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>@ViewBag.Active</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create", "ProducedIns", null, new { @class = "add-bt" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenter.WorkCenterLocation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCenter.WorkCenterLocation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id1 = item.Product.ProductDescription, id2 = item.WorkCenter.WorkCenterLocation }) |
                @Html.ActionLink("Details", "Details", new { id1 = item.Product.ProductDescription, id2 = item.WorkCenter.WorkCenterLocation }) |
                @Html.ActionLink("Delete", "Delete", new { id1 = item.Product.ProductDescription, id2 = item.WorkCenter.WorkCenterLocation })
            </td>
        </tr>
    }

</table>
