@model IEnumerable<S3G1_PVFAPP.Models.Uses>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "Uses";
}

<div class="contactus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>Uses</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create", "Uses", null, new { @class = "add-bt" }) 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoesIntoQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RawMaterial.MaterialName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GoesIntoQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterial.MaterialName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id1 =item.ProductID,id2=item.MaterialID }) |
                @Html.ActionLink("Details", "Details", new { id1 = item.ProductID, id2 = item.MaterialID }) |
                @Html.ActionLink("Delete", "Delete", new { id1 = item.ProductID, id2 = item.MaterialID })
            </td>
        </tr>
    }

</table>
