@model S3G1_PVFAPP.Models.OrderLine

@{
    ViewBag.Title = "Delete";
    ViewBag.Active = "OrderLine";
}

<div class="contactus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>@ViewBag.Title @ViewBag.Active</h2>

                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="container-fluid">
    <div class="container-fluid padddd">

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 padddd"></div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>OrderLine</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.OrderedQuantity)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OrderedQuantity)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Orders.OrderID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Orders.OrderID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Product.ProductDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Product.ProductDescription)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>




    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Edit", "Orders", new { id = Model.OrderID }, null)
        </div>
    }
</div>
