@model IEnumerable<S3G1_PVFAPP.Models.ProductLine>

@{
    ViewBag.Title = "Index";
}

<div class="contactus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>Product Lines</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create", "ProductLines", null, new { @class = "add-bt" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductLineName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductLineName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductLineID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductLineID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductLineID })
            </td>
        </tr>
    }

</table>
