@model S3G1_PVFAPP.Models.Salesperson

@{
    ViewBag.Title = "Edit";
    ViewBag.Active = "SalesPerson";
}
<div class="contactus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>@ViewBag.Title @ViewBag.Active</h2>

                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="container-fluid">
    <div class="container-fluid padddd">

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 padddd"></div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Salesperson</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.SalespersonID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.SalespersonName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SalespersonName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SalespersonName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SalespersonPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SalespersonPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SalespersonPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SalespersonFax, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SalespersonFax, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SalespersonFax, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TerritoryID, "TerritoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("TerritoryID", null, htmlAttributes: new { @class = "form-control", style = "height:50px;" })
                                @Html.ValidationMessageFor(model => model.TerritoryID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<button class="add-bt">
    @Html.ActionLink("Back to List", "Index")
</button>

<br />
<br />
