@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Pine Valley Furniture </h1>
    <p class="lead">Pine Valley Furniture is a high-quality furniture retailer that offers a wide selection of elegant and durable pieces for the home and office. Their website is a virtual showroom that showcases their extensive collection of furniture, including bedroom sets, dining room tables, living room sofas, office desks, and more.</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("customers", "Index", "customers")</h2>
        <p>
            Students Basic Information.
        </p>
        <!--<p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("employees", "Index", "employees")</h2>
        <p>Instructors Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("orders", "Index", "orders")</h2>
        <p>Departments Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("product_line", "Index", "product_line")</h2>
        <p>Courses Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("products", "Index", "products")</h2>
        <p>Study Terms Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("raw_material", "Index", "raw_material")</h2>
        <p>Instructors Teaching Assignments.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("sales_person", "Index", "sales_person")</h2>
        <p>Students Course Registration.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("sales_territory", "Index", "sales_territory")</h2>
        <p>Students Course Registration.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("sales_territory", "Index", "sales_territory")</h2>
        <p>Students Course Registration.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("skills", "Index", "skills")</h2>
        <p>Students Course Registration.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("vendors", "Index", "vendors")</h2>
        <p>Students Course Registration.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("work_center", "Contact", "work_center")</h2>
        <p>Students Course Registration.</p>
    </div>


</div>